:root {
  /* Colors */
  --bg-start: #5ed5f3;
  --bg-end: #deebf3;

  --card-background: #fff;

  /* Typography */
  --font-primary: "Poppins", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  --font-secondary: "Inter", "Segoe UI", Roboto, Arial, sans-serif;

  --text-primary: #222;
  --text-secondary: #555;
  --text-meta: #888;
}

body {
  min-height: 100vh;
  background-color: #fff;
  color: var(--text-primary);
  font-family: var(--font-primary);
  background: linear-gradient(240deg, var(--bg-start), var(--bg-end));
}